.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.post_header {
  display: flex;
  margin-bottom: 10px;
}
.post_info {
  margin-left: 10px;
}
.post_info > p {
  font-size: 12px;
  color: gray;
}
.post_info > h2 {
  font-size: 15px;
}
.post_body {
  overflow-wrap: anywhere;
}
.post_buttons {
  display: flex;
  justify-content: space-evenly;
}
.comment_input {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
}
.comment_input > form {
  margin-left: 10px;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 10px 10px 10px 15px;
  color: gray;
  width: 100%;
}
.comment_input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}
.comment_input > form > button {
  display: none;
}
